form((submit)=newRender(e), class=properties?.class)
  label(*hook=node => console.log({node}))
    | Search input
    input(type="text")
  button((click)=newRender(e))
    | Re render
each post, index in posts
  - var item = post
  article(class={wide: index % 2 === 0 }, [class.active]=selected === index)
    header(#header, title=post.title, (click)=select(item))
      h1([style.border]='THIN SOLID red')= post.title
    section(class=post.type, [innerHTML]=post.content)
    footer
      if post.user
        i= post?.user?.name
      else if post.stuff
        i stuff
      else
        b Admin

    if item.posts
      +template.hello(posts=posts)
        h1 hello

h1(something='blue')&attributes({color: 'red'}) attr header


each child in children
  .wrap= child

// Control flow

- let i = 10

ul
  while i--
    li= i

case i
  when 'hello'
  when 'world'
    b wat
  when 0
    p hello
  default
    p world
